include ./field.pug

#forgot.w-full.flex.flex-col.items-center.gap-2
	h2.text-xl.font-extrabold.mb-4 Reset Password
	form.contents(
		hx-post="/auth/forgot-password"
		hx-trigger="submit"
		hx-target="#forgot"
		hx-swap="outerHTML")
		+textInput("Email", "email")
		.flex.gap-2.items-center
			button.primary(type="submit" hx-disabled-elt="this")
				span Reset Password
				span.htmx-indicator.spinner
		span(class="font-black text-black")= errors.get("success")
