include ../header.pug
include ./field.pug

doctype html
html
	+headTag("Reset Password")

	body.bg-white.text-gray-800
		+pageHeader(false, "Reset Password")
		section.bg-gray-100.py-4
			div.mx-auto.text-left.px-4(class="max-w-1/3")
				form#resetForm(
					hx-post="/reset-password"
					hx-trigger="submit"
					hx-target="#resetForm"
					hx-select="#resetForm"
					hx-swap="outerHTML")
					div.flex.flex-col.gap-4
						input(type="hidden" name="code" value=code)
						+textInput("Email", "email", email)(disabled=true)
						+passwordInput("New Password", "password")
						+passwordInput("Confirm New Password", "password_confirm")
						.flex.gap-4.items-center
							button.mt-4.primary(type="submit") Reset Password
							span= errors.get("form")
