include ../header.pug
include ./field.pug

doctype html
html
	+headTag("Reset Password")

	body.bg-white.text-gray-800
		+pageHeader(false, "Reset Password")
		section.bg-gray-100.py-4
			div.mx-auto.text-left.px-4
				form#resetForm(
					hx-post="/reset-password"
					hx-trigger="submit"
					hx-target="#resetForm"
					hx-select="#resetForm"
					hx-swap="outerHTML")
					input(type="hidden" name="token" value=token)
					+passwordInput("New Password", "password")
					+passwordInput("Confirm New Password", "password_confirm")
					.flex.gap-4.items-center
						button.mt-4.primary(type="submit") Reset Password
						span#resetPasswordError= errors.get("form")
