p= `Hi ${member.display_name}`
p
	| Congratulations!&nbsp;
	a(href=`https://${domain}/sub/${submission.id}`) Your submission
	|  has been approved!

ul
	li= `Common Name: ${submission.species_common_name}`
	li= `Scientific Name: ${submission.species_latin_name}`
	li= `Points Awarded: ${submission.total_points}`
