p= `Hi ${display_name}`
p You have requested a password reset for your account.
p
	| Click or copy this link&nbsp;
	a(href=`https://${domain}/forgot-password?code=${code}`)= `https://${domain}/forgot-password?code=${code}`
	|  to choose a new password.
