include header.pug

doctype html
html
	+headTag(title)

	body.bg-white.text-gray-800
		+pageHeader(isLoggedIn, "Lifetime Standings")

		section.bg-gray-100.py-4
			div.max-w-4xl.mx-auto.text-center.px-4
				h2(class="text-xl lg:text-4xl font-extrabold mb-4")= title

		section.bg-gray-100
			div.max-w-5xl.mx-auto.text-center.px-4(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3")
				each level in levels
					- const [levelName, members] = level;
					div.p-4
						h2(class="text-xl sm:text-2xl font-bold mb-4")= levelName
						div(class="max-w-sm mx-auto")
							each member in members
								div(class="flex justify-between items-center px-3 border-b border-gray-200 last:border-b-0")
									a.contents.link(href=`/member/${member.id}`)
										div(class="text-left")= member.display_name
										div(class="text-right font-semibold ml-4")= member.points

		.w-full.bg-gray-300.p-4.shadow-md
			.container.mx-auto.flex.justify-center.space-x-4
				a(href="/lifetime/fish")
					button.outline Breeder
				a(href="/lifetime/plant")
					button.outline Horticultural
				a(href="/lifetime/coral")
					button.outline Coral
