include header.pug

doctype html
html
	+headTag(title)

	body.bg-white.text-gray-800
		+pageHeader("Lifetime Standings")

		section.bg-gray-100.py-4
			div.max-w-4xl.mx-auto.text-center.px-4
				h2(class="text-xl lg:text-4xl font-extrabold mb-4")= title

		section.bg-gray-100
			div.max-w-4xl.mx-auto.text-center.px-4(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3")
				each level in levels
					- const [levelName, members] = level;
					div.p-4
						h2(class="text-xl sm:text-2xl font-bold mb-4")= levelName
						each member in members
							a.link(href=`/member/${member.id}`)
								.flex.justify-between.w-full.max-w-2xl.mx-auto
									.text-right.w-100
										p= member.display_name
									.text-left.w-100.pl-4
										p= member.points

		.w-full.bg-gray-100.p-4.shadow-md
			.container.mx-auto.flex.justify-center.space-x-4
				a.link(href="/lifetime/fish") Breeder
				a.link(href="/lifetime/plant") Horticultural
				a.link(href="/lifetime/coral") Coral
