include header.pug

- const stringCell = ['p-2', 'overflow-hidden', 'text-ellipsis', 'whitespace-nowrap', 'text-right', 'border-gray-800'];
- const heading = ['p-2', 'overflow-hidden', 'text-ellipsis', 'whitespace-nowrap', 'text-left', 'sticky', 'top-0', 'text-left', 'font-bold', 'text-lg'];

mixin submissionTable(submissions)
	table

		thead
			tr
				th(class=heading) Submitted On
				th(class=heading) Class
				th(class=heading) Common Name
				th(class=heading) Latin Name
				th(class=heading) Species Points
				th(class=heading) Total Points

		tbody
			each sub in submissions
				tr
					- const dateString = new Date(sub.submitted_on).toLocaleDateString();
					td(class=stringCell)
						a.link(href=`/sub/${sub.id}`)= dateString
					td(class=stringCell)= sub.species_class
					td(class=stringCell)= sub.species_common_name
					td(class=stringCell)= sub.species_latin_name
					td(class=stringCell)= sub.points || "UAPPROVED"
					td(class=stringCell)= sub.total_points || "UAPPROVED"

doctype html
html
	+headTag(member.display_name)

	body.bg-white.text-gray-800
		+pageHeader(isLoggedIn, member.display_name)
		if fishSubs.length > 0
			section.bg-gray-100
				div.max-w-4xl.mx-auto.text-center.justify-center.px-4
					h3(class="text-xl lg:text-4xl font-extrabold mb-4") Breeders Awards Submissions
					+submissionTable(fishSubs)

		if plantSubs.length > 0
			section.bg-gray-100
				div.max-w-4xl.mx-auto.text-center.px-4
					h3(class="text-xl lg:text-4xl font-extrabold mb-4") Horticultural Awards Submissions
					+submissionTable(plantSubs)

		if coralSubs.length > 0
			section.bg-gray-100
				div.max-w-4xl.mx-auto.text-center.px-4
					h3(class="text-xl lg:text-4xl font-extrabold mb-4") Coral Awards Submissions
					+submissionTable(coralSubs)
