- const stringCell = ['p-2', 'overflow-hidden', 'text-ellipsis', 'whitespace-nowrap', 'text-right', 'bg-gray-100', 'border-gray-800'];
- const heading = ['p-2', 'overflow-hidden', 'text-ellipsis', 'whitespace-nowrap', 'text-left', 'sticky', 'top-0', 'text-left', 'bg-gray-300', 'font-bold', 'text-lg'];

mixin submissionTable(submissions)
	table
		thead
			tr
				th(class=heading) Submitted On
				th(class=heading) Class
				th(class=heading) Common Name
				th(class=heading) Latin Name
				th(class=heading) Points

		tbody
			each sub in submissions
				tr
					- const dateString = new Date(sub.submitted_on).toLocaleDateString();
					td(class=stringCell)
						a(href=`/sub/${sub.id}`)= dateString
					td(class=stringCell)= sub.species_class
					td(class=stringCell)= sub.species_common_name
					td(class=stringCell)= sub.species_latin_name
					td(class=stringCell)= sub.points

doctype html
html
	head
		title= member.name
		script(src='https://unpkg.com/htmx.org@2.0.4')
		link(rel='stylesheet', href='/index.css')

	body.flex.justify-center.items-center
		.flex-col.justify-center.text-center.items-center.bg-white.p-6.rounded-lg.shadow-lg
			h2.text-2xl.p-2= member.name

			if fishSubs.length > 0
				h2.text-l.p-2 Breeders Awards Submissions
				+submissionTable(fishSubs)

			if plantSubs.length > 0
				h2.text-l.p-2 Horticultural Awards Submissions
				+submissionTable(plantSubs)

			if coralSubs.length > 0
				h2.text-l.p-2 Coral Awards Submissions
				+submissionTable(coralSubs)
