
h2.text-xl.font-extrabold.mb-4 Sign Up
form.contents(hx-post="/signup" hx-target="closest div" hx-trigger="submit")
	.flex.flex-col.gap-2(class="w-2/3")
		.flex.items-center.gap-2
			label.input-label(for="email") Email
			span.text-red-500= errors.get("email")
		input.text-input(
			class=errors.has("email") ? "error" : ""
			id="email" name="email" value=email)
		.flex.items-center.gap-2
			label.input-label(for="display_name") Member Name
			span.text-red-500= errors.get("display_name")
		input.text-input(
			class=errors.has("display_name") ? "error" : ""
			id="display_name" name="display_name" value=display_name)
		.flex.items-center.gap-2
			label.input-label(for="password") Password
			span.text-red-500= errors.get("password")
		input.text-input(
			class=errors.has("password") ? "error" : ""
			id="password" name="password" type="password")
		.flex.items-center.gap-2
			label.input-label(for="password_confirm") Confirm Password
			span.text-red-500= errors.get("password_confirm")
		input.text-input(
			class=errors.has("password_confirm") ? "error" : ""
			id="password_confirm" name="password_confirm" type="password")
	.flex.gap-2
		button.primary(type="submit") Sign Up
