include header.pug

doctype html
html
	+headTag(title)

	body.bg-white.text-gray-800
		+pageHeader(isLoggedIn, `Annual Standings for ${year}`)

		section.bg-gray-100.py-4
			div.max-w-4xl.mx-auto.text-center.px-4
				h2(class="text-xl lg:text-4xl font-extrabold mb-4")= title

		section.bg-gray-100.py-4.flex.flex-col.items-center
			div.max-w-2xl
				table.data-table#annualStandings
					thead.contents
						tr.contents
							th Rank
							th Member
							th Points
					tbody.contents
						each member, index in standings
							tr.text-center.max-w-lg.contents
								td= index + 1
								td
									- const name = names[member[0]] ?? ""
									a.link(href=`/member/${member[0]}`)= name
								td(class=heading)= member[1]

		.w-full.bg-gray-300.p-4.shadow-md
			.container.mx-auto.flex.justify-center.items-center.space-x-4

				if year > minYear
					a.link(href=`/annual/${year-1}/${program}`)= `← ${year - 1}`

				a(href=`/annual/${year}/fish`)
					button.outline Breeder
				a(href=`/annual/${year}/plant`)
					button.outline Horticultural
				a(href=`/annual/${year}/coral`)
					button.outline Coral

				if year < maxYear
					a.link(href=`/annual/${year+1}/${program}`)= `${year + 1} →`
