include header.pug

doctype html
html
	+headTag(title)

	body.bg-white.text-gray-800
		+pageHeader(isLoggedIn, `Annual Standings for ${year}`)

		section.bg-gray-100.py-4
			div.max-w-4xl.mx-auto.text-center.px-4
				h2(class="text-xl lg:text-4xl font-extrabold mb-4")= title

		section.bg-gray-100.py-4
			each member, index in standings
				.flex.justify-between.w-full.mx-auto(class="max-w-76")
					.text-right.font-bold.w-8
						p= index+1
					.text-right.w-40
						- const name = names[member[0]] ?? ""
						a.link(href=`/member/${member[0]}`)= name
					.text-left.w-8
						p= member[1]

		.w-full.bg-gray-300.p-4.shadow-md
			.container.mx-auto.flex.justify-center.space-x-4
				a.link(href=`/annual/${year}/fish`) Breeders
				a.link(href=`/annual/${year}/plant`) Horticultural
				a.link(href=`/annual/${year}/coral`) Coral
