include ../header.pug

mixin reviewTextInput(labelText, name, type="text")
	.grid.gap-2
		label.input-label(for=name)= labelText
		input.text-input(
			disabled
			id=name
			value=submission[name]
			name=name
			type=type)

doctype html
html
	+headTag

	body.bg-white.text-gray-800
		+pageHeader(isLoggedIn, canonicalName, submission.member_name)

		section.bg-gray-100.py-4

			div.max-w-4xl.mx-auto.text-left.pt-4.px-4
				h2(class="text-l font-bold pt-2 mb-4") Member Details
				div.grid.grid-cols-1.w-full.gap-2(class="md:grid-cols-2")
					+reviewTextInput("Member Name", "member_name")

			div.max-w-4xl.mx-auto.text-left.pt-4.px-4
				h2(class="text-l font-bold mb-4") Species Details
				div.grid.grid-cols-1.w-full.gap-2(class="md:grid-cols-2")
					+reviewTextInput("Common Name", "species_common_name")
					+reviewTextInput("Latin Name", "species_latin_name")
					+reviewTextInput("Spawn Date", "reproduction_date")
					+reviewTextInput("# of Fry", "count")

					+reviewTextInput("Species Type", "species_type")
					+reviewTextInput("Species Class", "species_class")
					+reviewTextInput("Water Type", "water_type")

					+reviewTextInput("Foods", "foods")
					+reviewTextInput("Spawn Locations", "spawn_locations")

			div.max-w-4xl.mx-auto.text-left.pt-4.px-4
				h2(class="text-l font-bold pt-2 mb-4") Tank Details
				div.grid.grid-cols-1.w-full.gap-2(class="md:grid-cols-2")
					+reviewTextInput("Tank Size", "tank_size")
					+reviewTextInput("Filter Type", "filter_type")
					+reviewTextInput("Water Change Volume (%)", "water_change_volume")
					+reviewTextInput("Water Change Frequency", "water_change_frequency")
					+reviewTextInput("Temperature", "temperature")
					+reviewTextInput("pH", "ph")
					+reviewTextInput("Hardness (GH)", "gh")
					+reviewTextInput("Specific Gravity", "specific_gravity")
					+reviewTextInput("Substrate Type", "substrate_type")
					+reviewTextInput("Substrate Depth", "substrate_depth")
					+reviewTextInput("Substrate Color", "substrate_color")


			div.max-w-4xl.mx-auto.text-left.px-4.pb-6
				h2(class="text-l font-bold mb-4") Approval Details
				div.grid.grid-cols-1.w-full.gap-2(class="md:grid-cols-2")
					+reviewTextInput("Submitted On", "submitted_on")
					+reviewTextInput("Approved On", "approved_on")
					+reviewTextInput("Approved By", "approved_by")
					+reviewTextInput("Points", "points")
					+reviewTextInput("Total Points", "total_points")

			if isAdmin && false
				div.flex.justify-center.max-w-4xl.mx-auto.text-center.gap-4
					a(href=`/admin/edit/${submission.id}`)
						button.primary(type="button") Edit Submission as Admin
			else if isSelf && !isApproved
				div.flex.justify-center.max-w-4xl.mx-auto.text-center.gap-4
					form(hx-patch=`/sub/${submission.id}`)
						button.primary(name="unsubmit" type="submit") Edit Submission

			if isAdmin
				.hidden.fixed.inset-0.flex.items-center.justify-center.z-50(hx-on:click="document.getElementById('bonuses').classList.toggle('hidden', true)")#bonuses
					.relative.bg-gray-600.rounded-lg.shadow-lg.p-6.w-full.max-w-md(hx-on:click="event.stopPropagation()")

						a.link.light.button.absolute.top-2.right-2(
							hx-on:click="document.getElementById('bonuses').classList.toggle('hidden', true)") &times;

						.flex.flex-col.justify-left.space-y-2
							h2.text-xl.text-gray-200.font-bold.mb-4 Additional Points

							select(name="article_points")
								option(value="" disabled selected) Article Points
								option(value=0 selected=submission.article_points == 0) No Article
								option(value=5 selected=submission.article_points == 5) 5
								option(value=10 selected=submission.article_points == 10) 10

							.flex.gap-2.items-center
								label.text-gray-200(for="first") First Time Species
								input(
									type="checkbox"
									id="first"
									name="first_time_species"
									checked=submission.first_time_species == 1)

							if submission.program == "plant"
								.flex.gap-2.items-center
									label.text-gray-200(for="flowered") Flowered
									input(
										type="checkbox"
										id="flowered"
										name="flowered"
										checked=submission.flowered == 1)

								.flex.gap-2.items-center
									label.text-gray-200(for="sexual") Sexual Rep.
									input(
										type="checkbox"
										id="sexual"
										name="sexual_reproduction"
										checked=submission.sexual_reproduction == 1)

				.w-full.bg-gray-600.p-4.shadow-md.mt-6
					.container.mx-auto.flex.justify-center.space-x-4
						form(hx-post="/admin/approve" hx-include="#bonuses")
							input(type="hidden" name="id" value=submission.id)
							.flex.flex-col.gap-2
								.flex.gap-4.items-center
									.select-wrapper
										select(name="points")
											option(value="" disabled selected) Base Points
											option(value=5 selected=submission.points == 5) 5
											option(value=10 selected=submission.points == 10) 10
											option(value=15 selected=submission.points == 15) 15
											option(value=20 selected=submission.points == 20) 20

									a.link.light(
										hx-on:click="document.getElementById('bonuses').classList.toggle('hidden', false)") Bonuses

									button.primary.p-4(class=approve type="submit") Approve
								.flex.gap-4.items-center
									input.text-input(name="class" type="text" value=submission.species_class disabled)
									input.text-input(name="canonical_genus" type="text" placeholder="Genus")
									input.text-input(name="canonical_species_name" type="text" placeholder="Species")
