include ../header.pug

mixin reviewTextInput(labelText, name, type="text")
	.grid.gap-2
		label.input-label(for=name)= labelText
		input.text-input(
			disabled
			id=name
			value=submission[name]
			name=name
			type=type)

doctype html
html
	+headTag

	body.bg-white.text-gray-800
		+pageHeader(submission.species_common_name, submission.member_name)

		section.bg-gray-100.py-4

			div.max-w-4xl.mx-auto.text-left.pt-4.px-4
				h2(class="text-l font-bold pt-2 mb-4") Member Details
				div.grid.grid-cols-1.w-full.gap-2(class="md:grid-cols-2")
					+reviewTextInput("Member Name", "member_name")

			div.max-w-4xl.mx-auto.text-left.pt-4.px-4
				h2(class="text-l font-bold mb-4") Species Details
				div.grid.grid-cols-1.w-full.gap-2(class="md:grid-cols-2")
					+reviewTextInput("Common Name", "species_common_name")
					+reviewTextInput("Latin Name", "species_latin_name")
					+reviewTextInput("Spawn Date", "reproduction_date")
					+reviewTextInput("# of Fry", "count")

					+reviewTextInput("Species Type", "species_type")
					+reviewTextInput("Species Class", "species_class")
					+reviewTextInput("Water Type", "water_type")

					+reviewTextInput("Foods", "foods")
					+reviewTextInput("Spawn Locations", "spawn_locations")

			div.max-w-4xl.mx-auto.text-left.pt-4.px-4
				h2(class="text-l font-bold pt-2 mb-4") Tank Details
				div.grid.grid-cols-1.w-full.gap-2(class="md:grid-cols-2")
					+reviewTextInput("Tank Size", "tank_size")
					+reviewTextInput("Filter Type", "filter_type")
					+reviewTextInput("Water Change Volume (%)", "water_change_volume")
					+reviewTextInput("Water Change Frequency", "water_change_frequency")
					+reviewTextInput("Temperature", "temperature")
					+reviewTextInput("pH", "ph")
					+reviewTextInput("Hardness (GH)", "gh")
					+reviewTextInput("Specific Gravity", "specific_gravity")
					+reviewTextInput("Substrate Type", "substrate_type")
					+reviewTextInput("Substrate Depth", "substrate_depth")
					+reviewTextInput("Substrate Color", "substrate_color")

			div.max-w-4xl.mx-auto.text-left.px-4.pb-6
				h2(class="text-l font-bold mb-4") Approval Details
				div.grid.grid-cols-1.w-full.gap-2(class="md:grid-cols-2")
					+reviewTextInput("Submitted On", "submitted_on")
					+reviewTextInput("Approved On", "approved_on")
					+reviewTextInput("Approved By", "approved_by")
					+reviewTextInput("Points", "points")

			if isAdmin
				.w-full.bg-gray-600.p-4.shadow-md.mt-6
					.container.mx-auto.flex.justify-center.space-x-4
						form(hx-post="/admin/approve")
							input(type="hidden" name="id" value=submission.id)
							.flex.gap-4.justify-center.text-center
								.select-wrapper
									select(name="points" hx-get="/admin/approve" hx-include="closest form" hx-swap="outerHTML" hx-target="#bapForm" hx-select="#bapForm" hx-push-url="false")
										option(value="" disabled selected) Points
										option(value=5 selected=false) 5
										option(value=10 selected=false) 10
										option(value=15 selected=false) 15
										option(value=20 selected=false) 20
								button.primary.p-4(class=approve type="submit") Approve
								button.destructive.p-4(class=destructive type="submit" name="reject" value="true") Reject
								button.destructive.p-4(class=destructive type="submit" name="delete" value="true") Delete


