include supplementLine.pug

mixin bapTextInput(labelText, name, placeholder, type="text")
	.grid.gap-2
		label.input-label(for=name)= labelText
		input.text-input(
			id=name
			value=form[name]
			name=name
			type=type
			placeholder=placeholder
			class=errors.has(name) ? "error" : "")
		if errors.has(name)
			div(class="text-red-400")= errors.get(name)

mixin bapSimpleSelectInput(labelText, name)
	.grid.gap-2
		label.input-label(for=name)= labelText
		.select-wrapper
			select(value=form[name] name=name)
				block

mixin bapMultiSelectInput(labelText, name, id)
	.grid.gap-2
		label.input-label(for=name)= labelText
		select.tom-select(
			id=id
			name=name
			multiple
			value=form[name]
			class=errors.has(name) ? "error" : "")
			block
		if errors.has(name)
			.text-red-400= errors.get(name)

form.flex-col.bg-white.p-6.rounded-lg.shadow-lg#bapForm(
	hx-target="#bapForm"
	hx-swap="outerHTML"
	hx-post="/sub")

	.card
		p.font-semibold.p-4 Member Details
		div.grid.grid-cols-2.w-full.gap-2
			+bapTextInput("Member Name", "memberName", "Jacques Cousteau")
			+bapTextInput("Member Email", "memberEmail", "deep@bluesea.net")

	.card
		p.font-semibold.p-4 Species Details

		div.space-y-4
			div.grid.grid-cols-2.w-full.gap-2
				+bapSimpleSelectInput("Water Type", "waterType")
					for water in waterTypes
						- const selected = water === form.waterType;
						option(value=water, selected=selected)= water

				div.grid.gap-2
					label.input-label Species Type
					.select-wrapper
						select(
							value=form.speciesType
							name="speciesType"
							hx-get="/submit"
							hx-include="closest form"
							hx-swap="outerHTML"
							hx-target="#bapForm"
							hx-select="#bapForm"
							hx-push-url="false")
							for speciesType in speciesTypes
								- const selected = speciesType === form.speciesType;
								option(value=speciesType, selected=selected)= speciesType

				+bapSimpleSelectInput("Species Class", "speciesClass")
					each option in classOptions
						option(value=option.value)= option.text
				- const dateLabel = isLivestock ? "Date Spawned" : "Date Propagated";
				+bapTextInput(dateLabel, "reproductionDate", "", "date")

			+bapTextInput("Species Common Name", "speciesCommonName", "Guppy")
			+bapTextInput("Species Latin Name", "speciesLatinName", "Poecilia reticulata")

			if isLivestock
				+bapTextInput("# of Fry", "count", "Zillions")

				+bapMultiSelectInput("Foods", "foods", "foods")
					each food in foodTypes
						- const selected = form.foods && form.foods.includes(food);
						option(value=food selected=selected)= food

				+bapMultiSelectInput("Spawn Locations", "spawnLocations", "spawns")
					each loc in spawnLocations
						- const selected = form.spawnLocations && form.spawnLocations.includes(loc);
						option(value=loc selected=selected)= loc

			else
				+bapTextInput("Propagation Method", "propagationMethod", "Cuttings, Runners, Seed...")

	.card
		p.font-semibold.p-4 Tank Details
		div.space-y-4.grid.grid-cols-2.w-full.gap-2
			+bapTextInput("Tank Size", "tankSize", "5g, 20 Long...")
			+bapTextInput("Filter Type", "filterType", "Sponge, HOB...")
			+bapTextInput("Water Change Volume (%)", "waterChangeVolume", "10%, 25%...")
			+bapTextInput("Water Change Frequency", "waterChangeFrequency", "Daily, Weekly, Never...")
			+bapTextInput("Temperature", "temperature", "75F...")
			+bapTextInput("pH", "ph", "6.8...")
			+bapTextInput("Hardness (GH)", "gh", "200ppm, 10dH...")
			+bapTextInput("Specific Gravity", "specificGravity", "1.025...")
			+bapTextInput("Substrate Type", "substrateType", "Gravel, Sand, Bare...")
			+bapTextInput("Substrate Depth", "substrateDepth", "2\"...")
			+bapTextInput("Substrate Color", "substrateColor", "Brown, White, Hot Pink...")

			if !isLivestock
				+bapTextInput("Lighting Type", "lightType", "LED, Sunlight, Ambient...")
				+bapTextInput("Light Strength", "lightStrength", "200W, 5 PAR...")
				+bapTextInput("Light Hours", "lightHours", "16...")

		div.flex.mt-4.gap-2.w-full.justify-center-center.text-center.items-center.hidden
			button.p-2.rounded-md(class="bg-red-500 text-white") Clear
			button.p-2.rounded-md(class="bg-black text-white") Save
			button.p-2.rounded-md(class="bg-black text-white") Load

	if !isLivestock
		.card
			p.font-semibold.p-4 Supplements
			div.w-full.gap-2
				- const hasCO2 = form.co2 === "yes";
				.grid.gap-2
					label.input-label(for="co2") CO2?
					.select-wrapper
						select(
							value=form.co2
							name="co2"
							hx-trigger="change"
							hx-on:change="document.getElementById('CO2Desc').classList.toggle('hidden', this.value === 'no')")
							option(value="no", selected=!hasCO2) No
							option(value="yes", selected=hasCO2) Yes

				div#CO2Desc(class=`${hasCO2 ? "" : "hidden"}`)
					textarea.text-input(
						name="co2Description"
						rows="4"
						placeholder="Describe CO2 injection...")

				div.pt-4.w-full.flex-col#supplements
					label.input-label Others
					if !!form.supplementType
						each type, index in form.supplementType
							+supplementLine(type, form.supplementRegimen[index])
					else
						+supplementLine("", "")

				button.w-full(
					hx-get="/submit/addSupplement"
					hx-swap="beforeend"
					hx-target="#supplements"
				) Add +


	div.m-2
		button(type="submit") Submit
