include style.pug
include supplementLine.pug

mixin bapTextInput(labelText, name, placeholder, type="text")
	div.grid.gap-2
		label(class=labelClasses, for=name)= labelText
		input.text-input(
			id=name
			value=form[name]
			name=name
			type=type
			placeholder=placeholder
			class=errors.has(name) ? "border-red-400" : "")
		if errors.has(name)
			div(class="text-red-400")= errors.get(name)

mixin bapSimpleSelectInput(labelText, name)
	div.grid.gap-2
		label(class=labelClasses)= labelText
		div.select-wrapper
			select(value=form[name] name=name)
				block

mixin bapMultiSelectInput(labelText, name, id)
	div.grid.gap-2
		label(class=labelClasses)= labelText
		select.tom-select(value=form[name] name=name multiple id=id)
			block

form#bapForm(hx-post="/sub", class=formClasses)
	+bapTextInput("Member Name", "memberName", "Jacques Cousteau")

	div.card
		p.font-semibold.p-4 Species Details

		div.space-y-4
			div.grid.grid-cols-2.w-full.gap-2
				+bapSimpleSelectInput("Water Type", "waterType")
					for water in waterTypes
						- const selected = water === form.waterType;
						option(value=water, selected=selected)= water

				div.grid.gap-2
					label(class=labelClasses) Species Type
					div.select-wrapper
						select(
							value=form.speciesType
							name="speciesType"
							hx-get="/submit"
							hx-include="closest form"
							hx-swap="outerHTML"
							hx-target="#bapForm"
							hx-select="#bapForm"
							hx-push-url="false")
							for speciesType in speciesTypes
								- const selected = speciesType === form.speciesType;
								option(value=speciesType, selected=selected)= speciesType

				+bapSimpleSelectInput("Species Class", "speciesClass")
					each option in classOptions
						option(value=option.value)= option.text
				- const dateLabel = isLivestock ? "Date Spawned" : "Date Propagated";
				+bapTextInput(dateLabel, "date", "", "date")

			+bapTextInput("Species Common Name", "speciesCommonName", "Guppy")
			+bapTextInput("Species Latin Name", "speciesLatinName", "Poecilia reticulata")

			if isLivestock
				+bapTextInput("# of Fry", "count", "Zillions")

				+bapMultiSelectInput("Foods", "foods", "foods")
					each food in foodTypes
						option(value=food)= food

				+bapMultiSelectInput("Spawn Locations", "spawnLocations", "spawns")
					each loc in spawnLocations
						option(value=loc)= loc

			else
				+bapTextInput("Propagation Method", "propagationMethod", "Cuttings, Runners, Seed...")

	div.card
		p.font-semibold.p-4 Tank Details

		div.space-y-4.grid.grid-cols-2.w-full.gap-2
			+bapTextInput("Tank Size", "tankSize", "5g, 20 Long...")
			+bapTextInput("Filter Type", "filterType", "Sponge, HOB...")
			+bapTextInput("Water Change Volume (%)", "changeVolume", "10%, 25%...")
			+bapTextInput("Water Change Frequency", "changeFrequency", "Daily, Weekly, Never...")
			+bapTextInput("Temperature", "temperature", "75F...")
			+bapTextInput("pH", "pH", "6.8...")
			+bapTextInput("Hardness (GH)", "GH", "200ppm, 10dH...")
			+bapTextInput("Specific Gravity", "specificGravity", "1.025...")
			+bapTextInput("Substrate Type", "substrateType", "Gravel, Sand, Bare...")
			+bapTextInput("Substrate Depth", "substrateDepth", "2\"...")
			+bapTextInput("Substrate Color", "substrateColor", "Brown, White, Hot Pink...")

			if !isLivestock
				+bapTextInput("Lighting Type", "lightType", "LED, Sunlight, Ambient...")
				+bapTextInput("Light Strength", "lightStrength", "200W, 5 PAR...")
				+bapTextInput("Light Hours", "lightHours", "16...")

		.flex.mt-4.gap-2.w-full.justify-center-center.text-center.items-center.hidden
			button.p-2.rounded-md(class="bg-red-500 text-white") Clear
			button.p-2.rounded-md(class="bg-black text-white") Save
			button.p-2.rounded-md(class="bg-black text-white") Load

	if !isLivestock
		div.card
			p.font-semibold.p-4 Supplements

			div
			.flex-col.gap-2#supplements
				if !!form.supplementType
					each type, index in form.supplementType
						+supplementLine(type, form.supplementType[index])
				else
					+supplementLine("", "")

			button(
				hx-get="/submit/addSupplement"
				hx-swap="beforeend"
				hx-target="#supplements"
			) Add +

			fieldset.flex
				- const hasCO2 = form.CO2 === 'yes';
				legend CO2?
				label
					input(
						type="radio"
						name="CO2"
						value="yes"
						checked=hasCO2
						required
						hx-get="/submit"
						hx-include="closest form"
						hx-swap="outerHTML"
						hx-target="#bapForm"
						hx-select="#bapForm"
						hx-push-url="false")
					| Yes
				label
					input(
						type="radio"
						name="CO2"
						value="no"
						checked=!hasCO2
						hx-get="/submit"
						hx-include="closest form"
						hx-swap="outerHTML"
						hx-target="#bapForm"
						hx-select="#bapForm"
						hx-push-url="false")
					| No

			if hasCO2
				textarea.w-full(
					class=textInput,
					name="CO2Description"
					rows="4"
					placeholder="Describe CO2 injection...")

	div.m-2
		button(type="submit") Submit
