include style.pug
include supplementLine.pug

form#bapForm(hx-post="/sub", class=formClasses)

	div.grid.gap-2
		label(class=labelClasses) Member Name
		input(
			value=form.memberName,
			name="memberName",
			type="text",
			placeholder="Member Name",
			class=textInput)

	div.card
		p.font-semibold.p-4 Species Details

		div.space-y-4
			div.grid.grid-cols-2.w-full.gap-2
				div.grid.gap-2
					label(class=labelClasses) Water Type
					div.select-wrapper
						select#waterType(
							name="waterType")
							for water in waterTypes
								- const selected = water === form.waterType;
								option(value=water, selected=selected)= water

				div.grid.gap-2
					label(class=labelClasses) Species Type
					div.select-wrapper
						select(
							value=form.speciesType
							name="speciesType"
							hx-get="/submit"
							hx-include="closest form"
							hx-swap="outerHTML"
							hx-target="#bapForm"
							hx-select="#bapForm"
							hx-push-url="false")
							for speciesType in speciesTypes
								- const selected = speciesType === form.speciesType;
								option(value=speciesType, selected=selected)= speciesType

			div.grid.gap-2
				label(class=labelClasses) Species Class
				div.select-wrapper
					select#class(
						value=form.speciesClass,
						name="speciesClass",
						placeHolder="Select a Class")
						each option in classOptions
							option(value=option.value)= option.text

			div.grid.gap-2
				label(class=labelClasses) Species Common Name
				input(
					class=textInput,
					value=form.speciesCommonName,
					name="speciesCommonName",
					type="text",
					placeholder="Guppy")

			div.grid.gap-2
				label(class=labelClasses) Species Latin Name
				input(
					class=textInput,
					value=form.speciesLatinName,
					name="speciesLatinName",
					type="text",
					placeholder="Species Name")

			div.grid.gap-2#fryCount(class=livestockOnly)
				label(class=labelClasses) # of Fry
				input(
					class=textInput,
					name="count",
					type="text",
					placeholder="Zillions")

			if isLivestock
				div.grid.gap-2
					label(class=labelClasses) Foods
					select#foods(
						multiple
						name="foods"
						placeHolder="Select all foods fed")
						each food in foodTypes
							option(value=food)= food

				div.grid.gap-2
					label(class=labelClasses) Spawn Locations
					select#spawns(
						multiple
						name="spawnLocations"
						placeHolder="Select all spawning locations")
						each loc in spawnLocations
							option(value=loc)= loc

				script.
					var settings = {
						hideSelected: true,
						create: true,
					};

					document.addEventListener('DOMContentLoaded', function() {
						new TomSelect("#foods", settings);
						new TomSelect("#spawns", settings);
					});
			else
				div.grid.gap-2
					label(class=labelClasses) Propagation Method
					input(
						class=textInput,
						value=form.propagationMethod,
						name="propagationMethod",
						type="text",
						placeholder="Chainsaw...")

	div.card
		p.font-semibold.p-4 Tank Details

		div.space-y-4.grid.grid-cols-2.w-full.gap-2
			div.grid.gap-2
				label(class=labelClasses) Tank Size
				input(
					class=textInput,
					value=form.tankSize,
					name="tankSize",
					type="text",
					placeholder="5g, 20 Long, 100g stock tank...")
			div.grid.gap-2
				label(class=labelClasses) Filter Type
				input(
					class=textInput,
					value=form.filterType,
					name="filterType",
					type="text",
					placeholder="Sponge, HOB...")
			div.grid.gap-2
				label(class=labelClasses) Water Change Volume (%)
				input(
					class=textInput,
					value=form.changeVolume,
					name="changeVolume",
					type="text",
					placeholder="")
			div.grid.gap-2
				label(class=labelClasses) Water Change Frequency
				input(
					class=textInput,
					value=form.changeFrequency,
					name="changeFrequency",
					type="text",
					placeholder="")
			div.grid.gap-2
				label(class=labelClasses) Temperature
				input(
					class=textInput,
					value=form.temperature,
					name="temperature",
					type="text",
					placeholder="")
			div.grid.gap-2
				label(class=labelClasses) pH
				input(
					class=textInput,
					value=form.temperature,
					name="pH",
					type="text",
					placeholder="7.0")
			div.grid.gap-2
				label(class=labelClasses) GH
				input(
					class=textInput,
					value=form.temperature,
					name="GH",
					type="text",
					placeholder="200ppm, 10 dH...")
			div.grid.gap-2
				label(class=labelClasses) Specific Gravity
				input(
					class=textInput,
					value=form.specificGravity,
					name="specificGravity",
					type="text",
					placeholder="1.025...")
			div.grid.gap-2
				label(class=labelClasses) Substrate Type
				input(
					class=textInput,
					value=form.substrateType,
					name="substrateType",
					type="text",
					placeholder="Gravel, Sand, Bare Bottom...")
			div.grid.gap-2
				label(class=labelClasses) Substrate Depth
				input(
					class=textInput,
					value=form.substrateDepth,
					name="substrateDepth",
					type="text",
					placeholder="2\"...")
			div.grid.gap-2
				label(class=labelClasses) Substrate Color
				input(
					class=textInput,
					value=form.substrateColor,
					name="substrateColor",
					type="text",
					placeholder="Brown, White, Hot Pink...")
			if !isLivestock
				div.grid.gap-2#lights(class=[nonLivestock])
					label(class=labelClasses) Light Type
					input(
						class=textInput,
						value=form.substrateColor,
						name="lightType",
						type="text",
						placeholder="LED, Sunlight, Fluorescent...")
				div.grid.gap-2#lights(class=[nonLivestock])
					label(class=labelClasses) Light Strength
					input(
						class=textInput,
						value=form.substrateColor,
						name="lightStrength",
						type="text",
						placeholder="Watts, PAR...")
				div.grid.gap-2#lights(class=[nonLivestock])
					label(class=labelClasses) Light Hours
					input(
						class=textInput,
						value=form.substrateColor,
						name="lightHours",
						type="text",
						placeholder="16 hours...")

	if !isLivestock
		div.card
			p.font-semibold.p-4 Supplements

			div
			.flex-col.gap-2#supplements
				if !!form.supplementType
					each type, index in form.supplementType
						+supplementLine(type, form.supplementType[index])
				else
					+supplementLine("", "")

			button(
				hx-get="/submit/addSupplement"
				hx-swap="beforeend"
				hx-target="#supplements"
			) Add +

			fieldset.flex
				- const hasCO2 = form.CO2 === 'yes';
				legend CO2?
				label
					input(
						type="radio"
						name="CO2"
						value="yes"
						checked=hasCO2
						required
						hx-get="/submit"
						hx-include="closest form"
						hx-swap="outerHTML"
						hx-target="#bapForm"
						hx-select="#bapForm"
						hx-push-url="false")
					| Yes
				label
					input(
						type="radio"
						name="CO2"
						value="no"
						checked=!hasCO2
						hx-get="/submit"
						hx-include="closest form"
						hx-swap="outerHTML"
						hx-target="#bapForm"
						hx-select="#bapForm"
						hx-push-url="false")
					| No

			if hasCO2
				textarea.w-full(
					class=textInput,
					name="CO2Description"
					rows="4"
					placeholder="Describe CO2 injection...")

	div.m-2
		button(type="submit") Submit
