include supplementLine.pug
include inputs.pug

mixin CRUDForm()
	if form.id
		form#bapForm(hx-target="#bapForm" hx-swap="outerHTML" hx-patch=`/sub/${form.id}`)
			input(type="hidden" name="id" value=form.id)
			block
	else
		form#bapForm(hx-target="#bapForm" hx-swap="outerHTML" hx-post="/sub")
			block

+CRUDForm
	section.bg-gray-100.py-4
		div.max-w-4xl.mx-auto.text-left.px-4
			h2(class="text-xl sm:text-2xl font-bold mb-4") Member Details
			div.grid.grid-cols-1.w-full.gap-2(class="md:grid-cols-2")
				+bapTextInput("Member Name", "member_name", "Jacques Cousteau")(disabled=!isAdmin)
				+bapTextInput("Member Email", "member_email", "deep@bluesea.net")(disabled=!isAdmin)

	section.bg-gray-100.py-4
		div.max-w-4xl.mx-auto.text-left.px-4
			h2(class="text-xl sm:text-2xl font-bold mb-4") Species Details

			div.grid.grid-cols-1.w-full.gap-2(class="md:grid-cols-2")
				+bapSimpleSelectInput("Water Type", "water_type")
					for water in waterTypes
						option(value=water, selected=water == form.water_type)= water

				div.grid.gap-2
					label.input-label Species Type
					.select-wrapper
						select(
							name="species_type"
							hx-get="/submit"
							hx-include="closest form"
							hx-swap="outerHTML"
							hx-target="#bapForm"
							hx-select="#bapForm"
							hx-push-url="false")
							for speciesType in speciesTypes
								option(value=speciesType, selected=speciesType == form.species_type)= speciesType

				+bapSimpleSelectInput("Species Class", "species_class")
					each option in classOptions
						option(value=option.value selected=form.species_class == option.value)= option.text
				- const dateLabel = isLivestock ? "Date Spawned" : "Date Propagated";
				+bapTextInput(dateLabel, "reproduction_date", "", "date")

				+bapTextInput("Species Common Name", "species_common_name", "Guppy")
				+bapTextInput("Species Latin Name", "species_latin_name", "Poecilia reticulata")

				if isLivestock
					+bapTextInput("# of Fry", "count", "Zillions")

					+bapMultiSelectInput("Foods", "foods", "foods")
						each food in foodTypes
							- const selected = form.foods && form.foods.includes(food);
							option(value=food selected=selected)= food

					+bapMultiSelectInput("Spawn Locations", "spawn_locations", "spawns")
						each loc in spawnLocations
							- const selected = form.spawn_locations && form.spawn_locations.includes(loc);
							option(value=loc selected=selected)= loc

				else
					+bapTextInput("Propagation Method", "propagation_method", "Cuttings, Runners, Seed...")

	section.bg-gray-100.py-4
		div.max-w-4xl.mx-auto.text-left.px-4
			.flex.gap-2
				h2(class="text-xl sm:text-2xl font-bold mb-4") Tank Details
				button.primary(
					type="button"
					hx-target="closest body"
					hx-swap="beforeend"
					hx-get="/sidebar/saveTank") Save
				button.outline(
					type="button"
					hx-target="closest body"
					hx-swap="beforeend"
					hx-get="/sidebar/loadTank") Load

			div.grid.grid-cols-1.w-full.gap-2(class="md:grid-cols-2")#tankSettings
				include tank.pug
				if !isLivestock
					+bapTextInput("Lighting Type", "light_type", "LED, Sunlight, Ambient...")
					+bapTextInput("Light Strength", "light_strength", "200W, 5 PAR...")
					+bapTextInput("Light Hours", "light_hours", "16...")

			div.flex.mt-4.gap-2.w-full.justify-center-center.text-center.items-center.hidden
				button.p-2.rounded-md(class="bg-red-500 text-white") Clear
				button.p-2.rounded-md(class="bg-black text-white") Save
				button.p-2.rounded-md(class="bg-black text-white") Load

	if !isLivestock
		section.bg-gray-100.py-4
			div.max-w-4xl.mx-auto.text-left.px-4

				h2(class="text-xl sm:text-2xl font-bold mb-4") Supplements

				div.w-full.gap-2
					- const hasCO2 = form.co2 === "yes";
					.grid.gap-2
						label.input-label(for="co2") CO2?
						.select-wrapper
							select(
								value=form.co2
								name="co2"
								hx-trigger="change"
								hx-on:change="document.getElementById('CO2Desc').classList.toggle('hidden', this.value === 'no')")
								option(value="no", selected=!hasCO2) No
								option(value="yes", selected=hasCO2) Yes

					div#CO2Desc(class=`${hasCO2 ? "" : "hidden"}`)
						textarea.text-input(
							name="co2_description"
							rows="4"
							placeholder="Describe CO2 injection...")

					div.py-4.w-full.flex-col#supplements
						label.input-label Others
						if !!form.supplementType
							each type, index in form.supplementType
								+supplementLine(type, form.supplementRegimen[index])
						else
							+supplementLine("", "")

					button.outline(
						hx-get="/submit/addSupplement"
						hx-swap="beforeend"
						hx-target="#supplements"
					) Add +

	section.bg-gray-100.py-4
		div.flex.justify-center.max-w-4xl.mx-auto.text-center.gap-4
			if form.submitted_on
				button.primary(class="w-2/5 max-w-200" type="submit") Save Edits
			else
				button.primary(class="w-2/5 max-w-200" type="submit") Submit
				button.outline(class="w-2/5 max-w-200" type="submit" name="draft" value="true") Save Draft
