- const formClasses = ['flex-col', 'bg-white', 'p-6', 'rounded-lg', 'shadow-lg'];
- const labelClasses = ['text-sm', 'leading-none', 'font-medium', 'select-none'];
- const textInput = ['border-2', 'border-input', 'flex', 'h-9', 'w-full', 'min-w-0', 'rounded-md', 'px-3', 'py-1', 'text-base', 'shadow-xs', 'outline-none', 'border-gray-300', 'rounded-lg'];
- const card = ['bg-white', 'p-6', 'rounded-lg', 'shadow-lg'];

form#bapForm(
	hx-post="/bap/submit",
	class=formClasses)

	div.grid.gap-2
		label(class=labelClasses) Member Name
		input(
			value=form.memberName,
			name="memberName",
			type="text",
			placeholder="Member Name",
			class=textInput)

	div.card
		p.font-semibold.p-4 Species Details

		div.space-y-4

			div.grid.grid-cols-2.w-full.gap-2
				div.grid.gap-2
					label(class=labelClasses) Water Type
					select(
						value=form.waterType,
						name="waterType",
						class=textInput)
						option(value="Fresh") Fresh
						option(value="Brackish") Brackish
						option(value="Salt") Salt

				div.grid.gap-2
					label(class=labelClasses) Species Type
					select(
						hx-get="/ajax/onSelectType"
						hx-target="#class"
						value=form.speciesType,
						name="speciesType",
						class=textInput)

						option(value="Fish") Fish
						option(value="Invert") Invert
						option(value="Plant") Plant
						option(value="Coral") Coral

			div.grid.gap-2
				label(class=labelClasses) Species Class
				select#class(
					value=form.speciesClass,
					name="speciesClass",
					placeHolder="Select a Class",
					class=textInput)
					each option in classOptions
						option(value=option.value)= option.text

			div.grid.gap-2
				label(class=labelClasses) Species Common Name
				input(
					class=textInput,
					value=form.speciesCommonName,
					name="speciesCommonName",
					type="text",
					placeholder="Guppy")

			div.grid.gap-2
				label(class=labelClasses) Species Latin Name
				input(
					class=textInput,
					value=form.speciesLatinName,
					name="speciesLatinName",
					type="text",
					placeholder="Species Name")

			div.grid.gap-2
				label(class=labelClasses) # of Fry
				input(
					class=textInput,
					value=form.count,
					name="count",
					type="text",
					placeholder="Zillions")

			script(src="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.4.1/js/tom-select.complete.js")

			div.grid.gap-2
				label(class=labelClasses) Foods
				select#foods(
					multiple,
					class="tom-select",
					name="foods",
					placeHolder="Select all foods fed")

					each food in foodTypes
						option(value=food)= food

			div.grid.gap-2
				label(class=labelClasses) Spawn Locations
				select#spawns(
					multiple
					class="tom-select",
					name="spawnLocations",
					placeHolder="Select all spawning locations")
					each loc in spawnLocations
						option(value=loc)= loc

			script.
				var settings = {
					hideSelected: true,
					create: true,
				};

				document.addEventListener('DOMContentLoaded', function() {
					console.log("asdfasdf");
					new TomSelect("#foods", settings);
					new TomSelect("#spawns", settings);
				});

	div.card
		p.font-semibold.p-4 Tank Details

		div.space-y-4.grid.grid-cols-2.w-full.gap-2
			div.grid.gap-2
				label(class=labelClasses) Tank Size
				input(
					class=textInput,
					value=form.tankSize,
					name="tankSize",
					type="text",
					placeholder="5g, 20 Long, 100g stock tank...")
			div.grid.gap-2
				label(class=labelClasses) Filter Type
				input(
					class=textInput,
					value=form.filterType,
					name="filterType",
					type="text",
					placeholder="Sponge, HOB...")
			div.grid.gap-2
				label(class=labelClasses) Water Change Volume (%)
				input(
					class=textInput,
					value=form.changeVolume,
					name="changeVolume",
					type="text",
					placeholder="")
			div.grid.gap-2
				label(class=labelClasses) Water Change Frequency
				input(
					class=textInput,
					value=form.changeFrequency,
					name="changeFrequency",
					type="text",
					placeholder="")
			div.grid.gap-2
				label(class=labelClasses) Water Change Frequency
				input(
					class=textInput,
					value=form.changeFrequency,
					name="changeFrequency",
					type="text",
					placeholder="")
			div.grid.gap-2
				label(class=labelClasses) Temperature
				input(
					class=textInput,
					value=form.temperature,
					name="temperature",
					type="text",
					placeholder="")
			div.grid.gap-2
				label(class=labelClasses) pH
				input(
					class=textInput,
					value=form.temperature,
					name="pH",
					type="text",
					placeholder="7.0")
			div.grid.gap-2
				label(class=labelClasses) GH
				input(
					class=textInput,
					value=form.temperature,
					name="GH",
					type="text",
					placeholder="200ppm, 10 dH...")
			div.grid.gap-2
				label(class=labelClasses) Specific Gravity
				input(
					class=textInput,
					value=form.specificGravity,
					name="specificGravity",
					type="text",
					placeholder="1.025...")
			div.grid.gap-2
				label(class=labelClasses) Substrate Type
				input(
					class=textInput,
					value=form.substrateType,
					name="substrateType",
					type="text",
					placeholder="Gravel, Sand, Bare Bottom...")
			div.grid.gap-2
				label(class=labelClasses) Substrate Depth
				input(
					class=textInput,
					value=form.substrateDepth,
					name="substrateDepth",
					type="text",
					placeholder="2\"...")
			div.grid.gap-2
				label(class=labelClasses) Substrate Color
				input(
					class=textInput,
					value=form.substrateColor,
					name="substrateColor",
					type="text",
					placeholder="Brown, White, Hot Pink...")

	div
		button(type="submit") Submit


