mixin supplementLine(type, regimen)
	div.flex.gap-2.pt-4
		input.text-input(
			value=type
			name="supplement_type"
			type="text"
			placeholder="Supplement"
			aria-label="Supplement name")

		input.text-input(
			value=regimen
			name="supplement_regimen"
			type="text"
			placeholder="Dosing Instructions"
			aria-label="Dosing instructions")

		button.destructive(
			type="button"
			hx-on:click="this.closest('div').remove()"
			aria-label="Remove this supplement"
			title="Remove this supplement from the list") -
