mixin supplementLine(type, regimen)
	div.flex.gap-2
		input.text-input(
			value=type
			name="supplementType"
			type="text"
			placeholder="Supplement")
		input.text-input(
			value=regimen
			name="supplementRegimen"
			type="text"
			placeholder="Dosing Instructions")
		button.rounded-md.text-sm.font-medium(
			hx-on:click="this.closest('div').remove()") -
