mixin supplementLine(type, regimen)
	div.flex.gap-2.pt-4
		input.text-input(
			value=type
			name="supplement_type"
			type="text"
			placeholder="Supplement")

		input.text-input(
			value=regimen
			name="supplement_regimen"
			type="text"
			placeholder="Dosing Instructions")

		button.rounded-md.text-sm.font-medium(
			hx-on:click="this.closest('div').remove()") -
