include ../header.pug

+dialog()
	h2.text-xl.font-extrabold.mb-4 Request More Documentation
	form.contents#witnessForm(
		hx-post=`/admin/decline-witness/${submission.id}`
		hx-trigger="submit"
		hx-target="closest #dialog"
		hx-swap="outerHTML"
	)
		span#witnessError(class="font-extrabold text-red-400")
		textarea.w-full.h-96.bg-white(
			name="reason"
			id="witnessReasonText"
			required
		)= contents
		button.primary Send Request
