include ../header.pug

+dialog()
	h2.text-xl.font-extrabold.mb-4 Request More Documentation
	form.contents#witnessForm(
		hx-post=`/admin/submissions/${submission.id}/decline-witness`
		hx-trigger="submit"
		hx-target="#witnessError"
		hx-swap="innerHTML"
		hx-indicator="#witnessIndicator"
		hx-disabled-elt="#witnessSubmitBtn"
		hx-on::response-error="this.querySelector('#witnessError').textContent = event.detail.xhr.responseText; document.getElementById('witnessSubmitBtn').disabled = false;"
	)
		span#witnessError.font-semibold.text-red-600
		textarea.w-full.h-96.bg-white(
			name="reason"
			id="witnessReasonText"
			required
		)= contents
		div.flex.items-center.gap-2
			button#witnessSubmitBtn.primary(type="submit") Send Request
			+loadingSpinner("witnessIndicator")
