tr.contents

	td.cell.text-center
		.flex.gap-2.justify-center
			form(
				hx-target="closest tr"
				hx-swap="outerHTML"
				hx-include="closest tr"
				hx-patch=`/admin/members/edit/${member.id}`
				hx-trigger="submit")
				button.primary(type="submit") Save
			.div.hidden
				button.outline(type="submit") Cancel
				button.destructive(type="submit") Delete

	td.cell.text-center
		input(
			checked=member.is_admin == 1
			name="is_admin"
			type="checkbox")

	td.cell
		input.text-input(name="display_name" value=member.display_name)

	td.cell
		input.text-input(name="contact_email" value=member.contact_email)

	td.cell
		.select-wrapper
			select.max-w-80(name="fish_level")
				for level in fishLevels
					- const selected = level === member.fish_level;
					option(value=level, selected=selected)= level

	td.cell
		.select-wrapper
			select.max-w-80(name="plant_level")
				for level in plantLevels
					- const selected = level === member.plant_level;
					option(value=level, selected=selected)= level

	td.cell
		.select-wrapper
			select.max-w-80(name="coral_level")
				for level in coralLevels
					- const selected = level === member.coral_level;
					option(value=level, selected=selected)= level
