include memberRow
include ../header.pug

doctype html
html
	+headTag

	body.bg-white.text-gray-800
		+pageHeader(true, title)

		section.bg-gray-100
			table.data-table#adminMembers
				thead.contents
					tr.contents
						th.cell(class=heading) ID
						th.cell(class=heading) Admin
						th.cell(class=heading) Name
						th.cell(class=heading) Email
						th.cell(class=heading) Fish
						th.cell(class=heading) Plant
						th.cell(class=heading) Coral

				tbody.contents
					each member in members
						+memberRow(member)
