mixin memberRow(member)
	tr
		td(class=stringCell)
			a.link(
				href="#"
				hx-target="closest tr"
				hx-swap="outerHTML"
				hx-get=`/admin/members/edit/${member.id}`)= member.id
		td(class=stringCell)= member.is_admin
		td(class=stringCell)= member.display_name
		td(class=stringCell)= member.contact_email
		td(class=stringCell)= member.fish_level
		td(class=stringCell)= member.plant_level
		td(class=stringCell)= member.coral_level
