mixin memberRow(member)
	- const stringCell = ['p-3', 'text-left', 'border-b', 'border-gray-200'];
	- const numberCell = ['p-3', 'text-right', 'border-b', 'border-gray-200'];
	- const centerCell = ['p-3', 'text-center', 'border-b', 'border-gray-200'];
	tr(class="hover:bg-gray-50 cursor-pointer"
		hx-target="closest tr"
		hx-swap="outerHTML"
		hx-get=`/admin/members/edit/${member.id}`)

		td(class=numberCell)= member.id
		td(class=centerCell)
			input(disabled checked=member.is_admin == 1 type="checkbox")

		td(class=stringCell)
			a.link(href=`/member/${member.id}`)= member.display_name
		td(class=stringCell)= member.contact_email
		td(class=stringCell)= member.fish_level || ''
		td(class=stringCell)= member.plant_level || ''
		td(class=stringCell)= member.coral_level || ''
