mixin memberRow(member)
	tr.contents(
		hx-target="closest tr"
		hx-swap="outerHTML"
		hx-get=`/admin/members/edit/${member.id}`)

		td.cell.text-center(class=stringCell)= member.id
		td.cell.text-center(class=stringCell)
			input(disabled checked=member.is_admin == 1 type="checkbox")

		td.cell(class=stringCell)
			a.link(href=`/member/${member.id}`)= member.display_name
		td.cell(class=stringCell)= member.contact_email
		td.cell(class=stringCell)= member.fish_level
		td.cell(class=stringCell)= member.plant_level
		td.cell(class=stringCell)= member.coral_level
