doctype html
html
	head
		title= title
		script(src='https://unpkg.com/htmx.org@2.0.4')
		link(rel='stylesheet', href='/index.css')

	body.flex.justify-center.items-center
		.flex-col.justify-center.text-center.items-center.bg-white.p-6.rounded-lg.shadow-lg
			h2.text-2xl.p-2= title

			- const heading = ['font-bold', 'text-lg'];
			.flex.w-full
				p.min-w-40(class=heading) Member Name
				p.min-w-80(class=heading) Species Name
				p.min-w-40(class=heading) Submission Date

			- const stringCell = []
			each sub in submissions
				a(href=`/admin/sub/${sub.id}`)
					.flex.justify-between
						p.min-w-40(class=stringCell)= sub.member_name
						p.min-w-80(class=stringCell)= sub.species_common_name
						p.min-w-40(class=stringCell)= sub.submitted_on

		.fixed.bottom-0.left-0.w-full.bg-gray-100.p-4.shadow-md
			.container.mx-auto.flex.justify-center.space-x-4
				a(href="/admin/queue/fish") Breeders
				a(href="/admin/queue/plant") Horticultural
				a(href="/admin/queue/coral") Coral

