include ../header.pug
include queueButton.pug

- const heading = ['font-bold', 'text-lg'];
- const stringCell = []

doctype html
html
	+headTag(title)

	body.bg-white.text-gray-800
		+pageHeader(true, title, subtitle)
		.w-full.flex-col.max-w-400.justify-center.text-center.items-center.bg-white.p-6.rounded-lg.shadow-lg

			.flex.justify-between
				p.min-w-40(class=heading) Member Name
				p.min-w-120(class=heading) Species Name
				p.min-w-40(class=heading) Submission Date

			each sub in submissions
				a(href=`/sub/${sub.id}`)
					.flex.justify-between
						p.min-w-40(class=stringCell)= sub.member_name
						p.min-w-80(class=stringCell)= sub.species_common_name
						p.min-w-40(class=stringCell)= new Date(sub.submitted_on).toDateString()

		.bottom-0.left-0.w-full.bg-gray-100.p-4.shadow-md
			.container.mx-auto.flex.justify-center.space-x-4
				+queueButton("fish", "Breeder", programCounts.fish)
				+queueButton("plant", "Horticultural", programCounts.plant)
				+queueButton("coral", "Coral", programCounts.coral)
