include ../header.pug

+dialog()
	h2.text-xl.font-extrabold.mb-4 Submission Feedback
	form.contents#feedbackForm(
		hx-post=`/admin/submissions/${submission.id}/request-changes`
		hx-trigger="submit"
		hx-target="#requestChangesError"
		hx-swap="innerHTML"
		hx-indicator="#feedbackIndicator"
		hx-disabled-elt="#feedbackSubmitBtn"
		hx-on::response-error="this.querySelector('#requestChangesError').textContent = event.detail.xhr.responseText; document.getElementById('feedbackSubmitBtn').disabled = false;"
	)
		span#requestChangesError.font-semibold.text-red-600
		textarea.w-full.h-96.bg-white(name="content" id="requestChangesText" required)= contents
		div.flex.items-center.gap-2
			button#feedbackSubmitBtn.primary(type="submit") Send
			+loadingSpinner("feedbackIndicator")
